python-telegram-bot==20.8
deep-translator==1.11.4
SpeechRecognition==3.10.4
pydub==0.25.1
python-dotenv==1.1.0
httpx==0.26.0
Pillow==10.4.0
pytesseract==0.3.10
PyPDF2==3.0.1
python-docx==1.1.2
gTTS==2.5.4
requests==2.32.3
rembg==2.0.60
